.Bgc\(\#111111\) {
  background-color: #111111;
}
.D\(b\) {
  display: block;
}
.Flxb\(18\%\) {
  flex-basis: 18%;
}
.Flxb\(20\%\) {
  flex-basis: 20%;
}
.Flxb\(25\%\) {
  flex-basis: 25%;
}
.Flxb\(40\%\) {
  flex-basis: 40%;
}
.Flxb\(45\%\) {
  flex-basis: 45%;
}
.Flxb\(7\%\) {
  flex-basis: 7%;
}
.Fw\(b\) {
  font-weight: bold;
}
.H\(100vh\) {
  height: 100vh;
}
.M\(16\%\) {
  margin: 16%;
}
.M\(a\) {
  margin: auto;
}
.Mx\(11\%\) {
  margin-left: 11%;
  margin-right: 11%;
}
.Mx\(13\%\) {
  margin-left: 13%;
  margin-right: 13%;
}
.Mx\(18\%\) {
  margin-left: 18%;
  margin-right: 18%;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mt\(0\) {
  margin-top: 0;
}
.Mt\(0\.5vw\) {
  margin-top: 0.5vw;
}
.Mt\(1vw\) {
  margin-top: 1vw;
}
.Mend\(0\.5vw\) {
  margin-right: 0.5vw;
}
.Mstart\(2\.6em\) {
  margin-left: 2.6em;
}
.Mstart\(4vw\) {
  margin-left: 4vw;
}
.Op\(1\) {
  opacity: 1;
}
.Py\(1vw\), .Pt\(1vw\) {
  padding-top: 1vw;
}
.Py\(1vw\) {
  padding-bottom: 1vw;
}
.Pt\(1\.5vw\) {
  padding-top: 1.5vw;
}
.Pt\(10\%\) {
  padding-top: 10%;
}
.Pt\(12\%\) {
  padding-top: 12%;
}
.Pt\(20\%\) {
  padding-top: 20%;
}
.Pt\(2vw\) {
  padding-top: 2vw;
}
.Pt\(3\%\) {
  padding-top: 3%;
}
.Pt\(3\.5\%\) {
  padding-top: 3.5%;
}
.Pt\(4\%\) {
  padding-top: 4%;
}
.Pt\(5\%\) {
  padding-top: 5%;
}
.Pt\(50\%\) {
  padding-top: 50%;
}
.Pt\(6\%\) {
  padding-top: 6%;
}
.Pt\(8\%\) {
  padding-top: 8%;
}
.Pt\(9\%\) {
  padding-top: 9%;
}
.Pb\(1\.5vw\) {
  padding-bottom: 1.5vw;
}
.Pb\(10\%\) {
  padding-bottom: 10%;
}
.Pos\(a\) {
  position: absolute;
}
.Ta\(start\) {
  text-align: left;
}
.Translate3d\(0\,0\,0\) {
  transform: translate3d(0,0,0);
}
.W\(20vw\) {
  width: 20vw;
}
.W\(30\%\) {
  width: 30%;
}
.W\(35\%\) {
  width: 35%;
}
.W\(55\%\) {
  width: 55%;
}
.W\(a\) {
  width: auto;
}
@media (max-width: 810px) {
  .Or\(1\)--mo {
    order: 1;
  }
  .H\(230vh\)--mo {
    height: 230vh;
  }
  .M\(10\%\)--mo {
    margin: 10%;
  }
  .M\(10vw\)--mo {
    margin: 10vw;
  }
  .Mx\(10\%\)--mo {
    margin-left: 10%;
    margin-right: 10%;
  }
  .Mx\(10vw\)--mo {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .Mx\(a\)--mo {
    margin-left: auto;
    margin-right: auto;
  }
  .Mb\(10vw\)--mo {
    margin-bottom: 10vw;
  }
  .Mstart\(0vw\)--mo {
    margin-left: 0vw;
  }
  .Px\(10vw\)--mo {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .Pt\(0vw\)--mo {
    padding-top: 0vw;
  }
  .Pt\(10vw\)--mo {
    padding-top: 10vw;
  }
  .Pt\(12\%\)--mo {
    padding-top: 12%;
  }
  .Pt\(12vw\)--mo {
    padding-top: 12vw;
  }
  .Pt\(132vw\)--mo {
    padding-top: 132vw;
  }
  .Pt\(14vw\)--mo {
    padding-top: 14vw;
  }
  .Pt\(2vw\)--mo {
    padding-top: 2vw;
  }
  .Pt\(4vw\)--mo {
    padding-top: 4vw;
  }
  .Pt\(60vw\)--mo {
    padding-top: 60vw;
  }
  .Pt\(6vw\)--mo {
    padding-top: 6vw;
  }
  .Pt\(90\%\)--mo {
    padding-top: 90%;
  }
  .Pb\(10vw\)--mo {
    padding-bottom: 10vw;
  }
  .Pb\(8vw\)--mo {
    padding-bottom: 8vw;
  }
  .Ta\(c\)--mo {
    text-align: center;
  }
  .W\(a\)--mo {
    width: auto;
  }
}
@media (max-width: 1100px) {
  .W\(12vw\)--sm {
    width: 12vw;
  }
}
