$whiteA: #aaa;
$whiteD: #ddd;
$whiteE: #eee;
$gray2: #222;
$gray3: #333;

/* $color1: #3f51b5;
$color2: #1a237e; */
$color1: #1468b3;
$color2: #204379;
$color3: #e91e63;
$color4: #ec407a;
$color4b: #f48fb1;
$color5: #139bbf;
$color6: #4dd0e1;
$color7: #f6f7f9;


$breakpointBig: 2000px;
$breakpointMedium: 1470px;
$breakpointSmall: 1100px;
$breakpointMobile: 810px;


$time1: 0.15s;
$time2: 0.3s;


$topBarHeight: 55px;
$marginTop: 50px;
$gap: 300px;
$gapMobile: 80px;
