.M\(a\) {
  margin: auto;
}
.Mx\(13vw\) {
  margin-left: 13vw;
  margin-right: 13vw;
}
.Mx\(11vw\) {
  margin-left: 11vw;
  margin-right: 11vw;
}
.Mx\(18vw\) {
  margin-left: 18vw;
  margin-right: 18vw;
}
.Mt\(2vw\) {
  margin-top: 2vw;
}
.Pt\(6vw\) {
  padding-top: 6vw;
}
.Pt\(4vw\) {
  padding-top: 4vw;
}
.Pt\(2vw\) {
  padding-top: 2vw;
}
.Pt\(7vw\) {
  padding-top: 7vw;
}
.Pt\(30vw\) {
  padding-top: 30vw;
}
.Pb\(8vw\) {
  padding-bottom: 8vw;
}
.W\(30vw\) {
  width: 30vw;
}
.W\(35vw\) {
  width: 35vw;
}
.W\(55vw\) {
  width: 55vw;
}
.W\(40vw\) {
  width: 40vw;
}
