*, *::before, *::after {
	box-sizing: border-box;
	
	&:focus {
		outline: none;
	}
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	
	background: black;
	
	color: white;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: $color6;
	font-weight: 900;
	text-decoration: none;
	
	&:hover {
		text-shadow: 0 0 0.5vw $color6;
	}
}

button {
	padding: 0;
	border: inherit;
	cursor: pointer;
	font-family: inherit;
	text-align: center;
}





.b {
	font-weight: 800;
}

.dropcap::first-letter {
	float: left;
	margin: 0.15em 0.2em 0 0;
	font-size: 3.6em;
}

.sup {
	vertical-align: super;
	font-size: smaller;
	line-height: normal;
}

.new-window::after {
	content: inline("img/newWindow.svg");
	
	width: 1.2vw;
	height: @width;
	margin-left: 0.3vw;
	
	display: inline-block;
	
	position: relative;
	top: 0.2vw;
	
	@media (max-width: $breakpointMobile) {
		width: 4.8vw;
		height: @width;
		margin-left: 1vw;
		top: 0.8vw;
	}
}





.text1 {
	font-size: 1.2vw;
	line-height: 1.5em;
	
	@media (max-width: $breakpointMobile) {
		font-size: 4.5vw;
	}
	
	@media (min-width: $breakpointBig) {
		font-size: 1.5em;
	}
}

.text2 {
	margin-bottom: 3%;
	
	color: $color4;
	font-family: bebas-neue, sans-serif;
	font-size: 200%;
	font-weight: 500;
	
	@media (max-width: $breakpointMobile) {
		margin-bottom: 6%;
		line-height: 1;
	}
}

.text3 {
	padding-bottom: 1vw;
	
	border-bottom: $color4 dashed 0.15vw;
	
	color: color-mod($color4 s(60%));
	font-size: 3.3vw;
	font-weight: 900;
	line-height: 1.2em;
	
	text-shadow: 0 0 2.5vw $color4;
	
	@media (max-width: $breakpointMobile) {
		margin-bottom: 5vw;
		padding-bottom: 5vw;
		font-size: 11vw;
	}
	
	@media (min-width: $breakpointBig) {
		font-size: 3em;
	}
}





.title {
	width: 40%;
	margin: auto;
	padding: 9% 0 4%;
	
	font-family: Roboto Slab, serif;
	text-align: center;
	
	@media (max-width: $breakpointMobile) {
		width: auto;
		margin: auto 10vw;
		padding-top: 18vw;
	}
	
	@media (min-width: $breakpointMedium) {
		padding-top: 9%;
	}
	
	&__main {
		margin: 0;
		padding: 0.8vw 1vw 0.8vw;
		
		background: $color2;
		box-shadow: 0.8vw 0.8vw 0 $color5;
		
		font-family: bebas-neue, sans-serif;
		font-weight: 500;
		font-size: 5.6vw;
		text-transform: uppercase;
		line-height: 0.9;
		
		cursor: default;
		
		@media (max-width: $breakpointMobile) {
			padding: 1.6vw 0;
			margin: 0 0 5vw;
			box-shadow: 1.5vw 1.5vw 0 #4ca0ff;
			font-size: 15vw;
		}
		
		@media (min-width: $breakpointBig) {
			padding: 25px 25px 15px;
			box-shadow: 16px 16px 0 $color5;
			font-size: 6.8em;
		}
	}

	&__explanation {
		margin: 4.5% 0;
		padding-top: 5%;
		
		
		font-size: 1.2vw;
		
		@media (max-width: $breakpointMobile) {
			font-size: 4.5vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
		
		&--the-board {
			// margin: 10% 0;
			// padding-top: 10%;
			padding-top: 15%;
			text-align: right;
		
			@media (max-width: $breakpointMobile) {
				padding-top: 5%;
				text-align: center;
			}
		}
	}
}





.skrollr-deck {
	width: 100%;
	max-width: $breakpointBig;
	margin: 0 auto $gap;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	box-shadow: 0 0 3vw black;
	
	@media (max-width: $breakpointMobile) {
		margin: 0 auto $gapMobile;
		filter: none !important;
		transform: none !important;
	}
	
	@media (min-resolution: 180dpi) {
		filter: none !important;
	}
	
	&::after {
		content: "";
		
		width: 100%;
		height: 4px;
		
		position: absolute;
		bottom: -4px;
		left: 0;
		
		background: inline("img/line.svg");
		background-size: 100%;
	}
}

.darkener-main {
	width: 100%;
	height: 100%;
	
	z-index: 20;
	
	position: fixed;
	top: 0;
	
	background-color: black;
	
	pointer-events: none;
	
	transition: all 0.5s;
	
	opacity: 1;
}





.columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	
	&__w66 {
		flex: 0 0 66%;
	}
	
	@media (max-width: $breakpointMobile) {
		flex-flow: column nowrap;
	}
}





.bg1 {
	background:
		url('img/header.png') 0 0 / 100% no-repeat,
		url('img/footer.png') 0 100% / 100% no-repeat,
		radial-gradient(
			ellipse farthest-corner at 50% 0,
			$color1 10%,
			$color2 60%
		) center $marginTop / 400% 100% no-repeat;
	
	@media (max-width: $breakpointMobile) {
		background:
			url('img/header.png') center 0 / 200% no-repeat,
			url('img/footer.png') center 100% / 200% no-repeat,
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				$color1 10%,
				$color2 60%
			) center 0 / 400% 100% no-repeat;
	}
}





.body {
	position: relative;
	
	&--in {
		& .darkener-main {
			opacity: 0;
		}
		
		& .intro__logo {
			opacity: 1;
			transform: scale3d(1, 1, 1);
		}
		
		& .intro__text {
			opacity: 1;
		}
		
		& .intro__arrow-down-a {
			opacity: 1;
		}
	}
}




.link {
	position: relative;
	
	&:hover &__icon {
		opacity: 1;
	}
	
	&:target {
		animation: 8s question;
		
		/* stylelint-disable */
		@at-root { @keyframes question {
					0% { color: white; text-shadow: 0 0 20px white; }
					20% { color: white; text-shadow: 0 0 20px white; }
				} }
		/* stylelint-enable */
	}
	
	&__icon {
		width: 4vw;
		height: @width;
		
		display: block;
		
		position: absolute;
		top: calc(50% - 2vw);
		left: -@width;
		
		background: inline("img/permalink.svg") no-repeat center;
		background-size: 2vw;
		
		cursor: pointer;
		
		transition: $time1;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 7vw;
			height: @width;
			
			top: 1vw;
			left: -7vw;
			
			background-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			width: 80px;
			height: @width;
			
			top: calc(50% - 40px);
			left: -80px;
			
			background-size: 40px;
		}
		
		&:hover {
			filter: drop-shadow(0 0 1vw white);
		}
	}
}
