.contact {
	
	&__fb-iframe {
		width: 500px;
		height: 500px;
		margin: 0 auto 2%;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 320px;
			height: 400px;
			margin: 15vw auto;
		}
	}
	
	&__icon {
		width: 6vw;
		height: @width;
		margin: 0 1vw;
		
		border-radius: 100%;
		
		transition: box-shadow $time1;
		
		@media (min-width: $breakpointBig) {
			width: 120px;
			height: @width;
			margin: 0 20px;
		}
		
		@media (max-width: $breakpointMobile) {
			width: 24vw;
			height: @width;
			margin: 0 4vw;
		}
		
		&:hover {
			box-shadow: 0 0 4vw white;
		}
	}
	
	&__fb-group {
		width: 100%;
		margin-top: 4%;
		
		display: block;
	}
}
