@import "_variables.scss";

.faq {
	z-index: 5;
	
	&__question {
		margin: 5% 0 1%;
		
		font-family: bebas-neue, sans-serif;
		line-height: 1;
		
		@media (max-width: $breakpointMobile) {
			margin: 10vw 0 2vw;
		}
	}
}
