.intro {
	max-width: none;
	height: 100vh;
	min-height: 500px;
	
	
	z-index: 10;
	
	position: relative;
	
	background:
		radial-gradient(
			ellipse farthest-corner at 50% 0,
			$color1 20%,
			$color2 60%
		) center 0 / 400% 100% no-repeat;
	
	&__video-container {
		width: 100%;
		height: 100%;
		
		opacity: 0;
		
		pointer-events: none;
		
		transition: opacity 1s;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
		
		&--in {
			opacity: 1;
		}
	}
	
	&__video {
		width: 200%;
		height: 100%;
		
		position: absolute;
		left: -50%;
		
		border: 0;
		
		@media (min-aspect-ratio: 16/9) {
			width: 100%;
			height: 200%;
			top: -50%;
			left: 0;
		}
	}
	
	&__video-bg {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		background:
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				color($color1 a(0%)) 15%,
				$color2 72%
			) center / 200% 100% no-repeat;
	}

	&__cover {
		width: 100%;
		height: 100%;
		
		object-fit: cover;
		
		@media (max-width: $breakpointMobile) {
			object-position: 40% center;
		}
	}
	
	&__logo-container {
		margin: auto;
		
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			top: 25vh;
		}
	}
	
	&__logo {
		width: 40vh;
		height: 24vh;
		min-width: 200px;
		margin: 0 auto 3vh;
		
		display: block;
		
		// filter: drop-shadow(0 0 3vw white);
		filter: drop-shadow(0 0 1vw color(black a(30%)));
		
		transition: all 3s ease-out;
		
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		
		@media (max-width: $breakpointMobile) {
			// filter: drop-shadow(0 0 15vw white);
			filter: drop-shadow(0 0 10vw color(black a(50%)));
		}
	}
	
	&__text {
		margin: 4vh auto 0;
		
		font-family: Roboto Slab, serif;
		font-size: 2.4vh;
		text-align: center;
		// text-shadow: 0 0 3vh white;
		text-shadow: 0 0 1vw color(black a(100%));
		
		transition: all 3s 2s;
		
		opacity: 0;
		
		@media (max-height: 500px) {
			font-size: 0.75em;
		}
		
		@media (max-width: $breakpointMobile) {
			width: 50vw;
			margin: 7vh auto 0;
			font-size: 3vh;
			// text-shadow: 0 0 5vw white;
			text-shadow: 0 0 5vw color(black a(100%));
		}
	}
	
	&__arrow-down-a {
		width: 5%;
		
		position: absolute;
		bottom: 4%;
		left: 47.5%;
		
		filter: drop-shadow(0 0 1vw $color4);
		
		transition: opacity 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 12%;
			left: 44%;
		}
	}
	
	&__arrow-down {
		width: 100%;
		height: @width;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 12vw;
			height: @width;
		}
	}
}
