@import "variables";





.intro {
	max-width: none;
	height: 100vh;
	
	
	z-index: 10;
	
	position: relative;
	
	background:
		radial-gradient(
			ellipse farthest-corner at 50% 0,
			$color1 20%,
			$color2 60%
		) center 0 / 400% 100% no-repeat;

	/* &__background {
		width: 100%;
		height: 100%;
		
		display: none;
		
		position: absolute;
		top: 0;
		
		object-fit: cover;
	} */
	
	&__video-container {
		width: 100%;
		height: 100%;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
	}
	
	&__video {
		width: 200%;
		height: 100%;
		
		position: absolute;
		left: -50%;
		
		border: 0;
		
		transition: opacity 1s;
		
		opacity: 0;
		
		@media (min-aspect-ratio: 16/9) {
			width: 100%;
			height: 200%;
			top: -50%;
			left: 0;
		}
		
		&--in {
			opacity: 1;
		}
	}
	
	&__coloured-bg {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		background:
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				color($color1 a(0%)) 15%,
				$color2 72%
			) center / 200% 100% no-repeat;
	}
	
	&__header {
		width: 100%;
		height: 400px;
		
		position: absolute;
		top: 0;
		left: 0;
	}
	
	&__logo-container {
		margin: auto;
		
		position: absolute;
		top: 30vh;
		left: 0;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			top: 25vh;
		}
	}
	
	&__logo {
		width: 40vh;
		margin: 0 auto 3vh;
		
		display: block;
		
		filter: drop-shadow(0 0 3vw white);
		
		transition: all 3s ease-out;
		
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		
		@media (max-width: $breakpointMobile) {
			filter: drop-shadow(0 0 15vw white);
		}
	}
	
	&__text {
		width: 50vw;
		margin: 4vh auto 0;
		
		font-family: Roboto Slab, serif;
		font-size: 2.4vh;
		text-align: center;
		text-shadow: 0 0 1vw white;
		
		transition: all 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			margin: 7vh auto 0;
			font-size: 3vh;
			text-shadow: 0 0 5vw white;
		}
	}
	
	&__arrow-down-a {
		width: 5%;
		
		position: absolute;
		bottom: 4%;
		left: 47.5%;
		
		filter: drop-shadow(0 0 1vw $color4);
		
		transition: opacity 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 12%;
			left: 44%;
		}
	}
	
	&__arrow-down {
		width: 100%;
		height: @width;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 12vw;
			height: @width;
		}
	}
}





.who-we-are {
	z-index: 9;
	
	background:
		url('img/header.png') 0 $marginTop / 100% 600px no-repeat,
		radial-gradient(
			ellipse farthest-corner at 50% 0,
			$color1 10%,
			$color2 60%
		) center 0 / 400% 100% no-repeat;

	color: white;
	
	@media (max-width: $breakpointMobile) {
		background:
			url('img/header.png') top / 100% 400px no-repeat,
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				$color1 10%,
				$color2 60%
			) center 0 / 400% 100% no-repeat;
	}
	
	&__europe-img {
		width: 50%;
		height: 30%;
		
		position: absolute;
		top: $marginTop;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			top: 0;
		}
	}
	
	&__fb-iframe {
		width: 800px;
		height: 450px;
		margin: 6% auto 1%;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.6);
			margin: 12vw auto 1vw;
		}
	}
}





.activities {
	z-index: 8;
	
	background: black url('img/activities.jpg') top / 100% no-repeat;
	box-shadow: 0 0 10vw $gray2;
	
	&__fb-iframe {
		width: 500px;
		height: 535px;
		margin: 3.5vw auto 3vw;
		
		display: block;
		
		background-color: $color7;
		border: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 320px;
			height: 500px;
			margin: 10vw auto 6vw;
		}
	}
	
	&__img-foottext {
		width: 22%;
		margin: 0;
		
		position: absolute;
		top: calc($topBarHeight + 20px);
		right: 1.5%;
		
		text-align: right;
		font-size: 0.85vw;
		font-family: Roboto Slab, serif;
		
		@media (min-width: $breakpointBig) {
			font-size: 1em;
		}
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
	}
	
	&__logo {
		width: 22%;
		margin: 0 auto;
		
		align-self: center;
		
		@media (max-width: $breakpointMobile) {
			height: auto !important;
			width: 100%;
			margin: 0;
			padding: 12vw 0;
			align-self: flex-end;
		}
	}
	
	&__img {
		height: 16.2vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: auto;
		}
	}
}





.the-board {
	z-index: 7;
	
	&__portrait-containter {
		width: 25%;
		height: 100%;
		
		overflow: hidden;
		position: relative;
		
		background-color: black;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 65vh;
			min-height: 400px;
		}
		
		&:hover .the-board__portrait {
			filter: saturate(1);
			transform: translate3d(0, 5%, 0) scale3d(1.2, 1.2, 1);
			
			@media (max-width: $breakpointMobile) {
				transform: translate3d(0, 5%, 0) scale3d(1.8, 1.8, 1);
			}
		}
		
		&:hover .the-board__darkener {
			opacity: 1;
		}
		
		&:hover .the-board__name {
			color: white;
			text-shadow: 0 0 1vw color(white a(90%));
			transform: scale3d(1.3, 1.3, 1);
		}
		
		&:hover .the-board__position,
		&:hover .the-board__description {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__portrait {
		width: 100%;
		height: 100%;
		
		position: absolute;
		
		background: url('img/portrait1.jpg') center / cover;
		
		filter: saturate(0);
		
		transition: $time2 ease-out all;
		
		@media (max-width: $breakpointMobile) {
			background-position: center 20%;
			transform: scale3d(1.5, 1.5, 1);
		}
		
		&--1 {
			background-image: url('img/portrait1.jpg');
		}
		
		&--2 {
			background-image: url('img/portrait2.jpg');
		}
		
		&--3 {
			background-image: url('img/portrait3.jpg');
		}
	}
	
	&__name {
		width: 100%;
		
		position: absolute;
		bottom: 38%;
		
		pointer-events: none;
		
		color: $color4;
		text-shadow: 0 0 1vw color($color4 a(90%));
		font-size: 3.5vw;
		text-align: center;
		text-transform: uppercase;
		font-family: Roboto Slab, serif;
		
		transition: $time1 ease-out all;
		transform-origin: center bottom;
		
		@media (max-width: $breakpointMobile) {
			bottom: 46%;
			color: $color4;
			font-size: 12vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 4.4em;
		}
	}
	
	&__position {
		width: 50%;
		margin: 0 auto 0.65vw;
		padding-bottom: 0.5vw;
		
		border-bottom: $color4 dashed 0.15vw;
		
		font-size: 1em;
		text-transform: uppercase;
		
		@media (max-width: $breakpointMobile) {
			width: 70%;
			margin: 0 auto 2vw;
			padding-bottom: 2vw;
			border-bottom: $color4 dashed 0.6vw;
			font-size: 5vw;
		}
	}

	&__description {
		width: 100%;
		padding: 8% 10%;
		
		position: absolute;
		top: 55%;
		
		pointer-events: none;
		
		font-size: 1.2vw;
		font-weight: 300;
		text-shadow: 0.1vw 0.1vw 0.2vw color(black a(50%));
		text-align: center;
		
		transition: $time1 ease-out all;
		
		opacity: 0;
		transform: translate3d(0, 1vw, 0);
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			margin: 0 5%;
			padding: 8% 5%;
			top: 38%;
			opacity: 1;
			font-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
	}
	
	&__darkener {
		width: 100%;
		height: 50%;
		min-height: 500px;
		
		position: absolute;
		bottom: 0;
		
		background: linear-gradient(0deg, color(black a(90%)), transparent);
		pointer-events: none;
		
		transition: $time1 ease-out all;
		
		opacity: 0;
	}
	
	&__table {
		width: 65%;
		height: 0%;
		margin: 3% auto 2%;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			margin: 10vw auto 2vw;
		}
	}
	
	&__fb-iframe {
		width: 600px;
		height: 400px;
		margin: 4% auto 3%;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.7);
			margin: 8vw auto;
		}
	}
}





.join-us {
	z-index: 6;
	
	&__paypal-form {
		height: 7vw;
		
		@media (min-width: $breakpointBig) {
			height: 140px;
		}
		
		@media (max-width: $breakpointMobile) {
			min-height: 110px;
		}
	}

	&__paypal-button {
		width: 30%;
		display: block;
		margin: 0 auto;
		
		@media (max-width: $breakpointMobile) {
			width: 60vw;
			margin: 5vw auto;
		}
	}
}





.faq {
	z-index: 5;
	
	&__question {
		margin: 2% 0;
		
		display: block;
		
		color: $color3;
		font-family: Roboto Slab, serif;
		
		@media (max-width: $breakpointMobile) {
			margin: 4vw 0;
		}
		
		&:hover {
			text-shadow: 0 0 0.5vw $color3;
		}
		
		&:hover::before {
			opacity: 1;
		}
		
		&:target {
			animation: 10s question;
			
			/* stylelint-disable */
			@at-root { @keyframes question {
					0% { color: white; text-shadow: 0 0 20px white; }
					50% { color: white; text-shadow: 0 0 20px white; }
					100% { color: $color3; text-shadow: inherit; }
			} }
			/* stylelint-enable */
		}
		
		&::before {
			content: inline("img/permalink.svg");
			
			width: 30px;
			height: @width;
			
			display: block;
			
			position: relative;
			top: 32px;
			left: -50px;
			
			opacity: 0;
		}
	}
}




.contact {
	
	&__fb-iframe {
		width: 500px;
		height: 500px;
		margin: 0 auto 6%;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 320px;
			height: 400px;
			margin: 15vw auto;
		}
	}
	
	&__fb-group {
		width: 100%;
		margin-top: 4%;
		
		display: block;
	}
}





.footer {
	height: 80px;
	
	position: relative;
	
	background: #111;
	box-shadow: 0 0 15px color(black a(55%));
	
	font-size: 1.3em;
	
	@media (max-width: $breakpointMobile) {
		height: auto;
		padding: 6vw 0;
		display: block;
		text-align: center;
		font-size: 4.5vw;
	}
	
	&__copyright {
		height: 100%;
		margin-left: 2%;
		
		display: flex;
		align-items: center;
		
		flex: auto;
		
		font-family: Roboto Slab, serif;
		
		@media (max-width: $breakpointMobile) {
			display: block;
			margin-left: 0;
		}
	}
	
	&__designed-by {
		height: 100%;
		margin-right: 2%;
		
		display: flex;
		align-items: center;
		
		flex: 0 0 auto;
		
		@media (max-width: $breakpointMobile) {
			display: block;
			margin-right: 0;
		}
	}
	
	&__image {
		width: 80px;
		height: @width;
		
		display: block;
		
		flex: auto;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
		
		&:hover {
			animation: 0.0625s infinite rumble;
			
			/* stylelint-disable */
			@at-root { @keyframes rumble {
					0% { transform: rotate(0); }
					25% { transform: rotate(-2deg) translate(1px, 0); }
					50% { transform: rotate(0) translate(0, -1px); }
					75% { transform: rotate(2deg) translate(-1px, 0); }
					100% { transform: rotate(0) translate(0, 1px); }
			} }
			/* stylelint-enable */
		}
	}
}
