.the-board {
	z-index: 7;
	
	&__portrait-containter {
		width: 25%;
		height: 100%;
		
		overflow: hidden;
		position: relative;
		
		background-color: black;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 65vh;
			min-height: 400px;
		}
		
		&:hover .the-board__portrait {
			filter: saturate(1);
			transform: translate3d(0, 5%, 0) scale3d(1.2, 1.2, 1);
			
			@media (max-width: $breakpointMobile) {
				transform: translate3d(0, 5%, 0) scale3d(1.8, 1.8, 1);
			}
		}
		
		&:hover .the-board__darkener {
			opacity: 1;
		}
		
		&:hover .the-board__name {
			color: white;
			text-shadow: 0 0 1vw color(white a(90%));
			transform: scale3d(1.3, 1.3, 1);
		}
		
		&:hover .the-board__position,
		&:hover .the-board__description {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__portrait {
		width: 100%;
		height: 100%;
		
		position: absolute;
		
		background: url('img/portrait1.jpg') center / cover;
		
		filter: saturate(0);
		
		transition: $time2 ease-out all;
		
		@media (max-width: $breakpointMobile) {
			background-position: center 20%;
			transform: scale3d(1.5, 1.5, 1);
		}
		
		&--1 {
			background-image: url('img/portrait1.jpg');
		}
		
		&--2 {
			background-image: url('img/portrait2.jpg');
		}
		
		&--3 {
			background-image: url('img/portrait3.jpg');
		}
	}
	
	&__name {
		width: 100%;
		
		position: absolute;
		bottom: 38%;
		
		pointer-events: none;
		
		color: $color4;
		text-shadow: 0 0 1vw color($color4 a(90%));
		font-size: 3.5vw;
		text-align: center;
		text-transform: uppercase;
		font-family: Roboto Slab, serif;
		
		transition: $time1 ease-out all;
		transform-origin: center bottom;
		
		@media (max-width: $breakpointMobile) {
			bottom: 46%;
			color: $color4;
			font-size: 12vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 4.4em;
		}
	}
	
	&__position {
		width: 50%;
		margin: 0 auto 0.65vw;
		padding-bottom: 0.5vw;
		
		border-bottom: $color4 dashed 0.15vw;
		
		font-size: 1em;
		text-transform: uppercase;
		
		@media (max-width: $breakpointMobile) {
			width: 70%;
			margin: 0 auto 2vw;
			padding-bottom: 2vw;
			border-bottom: $color4 dashed 0.6vw;
			font-size: 5vw;
		}
	}

	&__description {
		width: 100%;
		padding: 8% 10%;
		
		position: absolute;
		top: 55%;
		
		pointer-events: none;
		
		font-size: 1.2vw;
		font-weight: 300;
		text-shadow: 0.1vw 0.1vw 0.2vw color(black a(50%));
		text-align: center;
		
		transition: $time1 ease-out all;
		
		opacity: 0;
		transform: translate3d(0, 1vw, 0);
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			margin: 0 5%;
			padding: 8% 5%;
			top: 38%;
			opacity: 1;
			font-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
	}
	
	&__darkener {
		width: 100%;
		height: 50%;
		min-height: 500px;
		
		position: absolute;
		bottom: 0;
		
		background: linear-gradient(0deg, color(black a(90%)), transparent);
		pointer-events: none;
		
		transition: $time1 ease-out all;
		
		opacity: 0;
	}
	
	&__table {
		width: 80%;
		height: 9vw;
		margin: 3% auto 2%;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			margin: 10vw auto 2vw;
		}
	}
	
	&__fb-iframe {
		width: 600px;
		height: 400px;
		margin: 4% auto 3%;
		
		display: block;
		
		background: white;
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.7);
			margin: 8vw auto;
		}
	}
}
