.the-board {
	z-index: 7;

	&__photo {
		width: 100%;
		height: 100vh;
		min-height: 650px;
		
		background: url("img/board.jpg") 40% / cover;
		
		@media (max-width: $breakpointMobile) {
			height: auto;
			background: none;
		}
	}
	
	&__photo-title {
		width: 22%;
		height: 100%;
		padding: 6% 4% 0 0;
		
		position: absolute;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: auto;
			padding: 4% 0 5% 0;

			position: static;
		}
	}

	&__photo-mobile {
		width: 100%;
		height: 450px;
		
		background: url("img/boardMobile.jpg") 40% center / cover;
		
		@media (min-width: $breakpointMobile) {
			display: none;
		}
	}
	
	/* &__portrait-containter {
		width: 25%;
		height: 100%;
		
		overflow: hidden;
		position: relative;
		
		background-color: black;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 65vh;
			min-height: 400px;
		}
		
		&:hover .the-board__portrait {
			filter: saturate(1);
			transform: translate3d(0, 5%, 0) scale3d(1.2, 1.2, 1);
			
			@media (max-width: $breakpointMobile) {
				transform: translate3d(0, 5%, 0) scale3d(1.8, 1.8, 1);
			}
		}
		
		&:hover .the-board__darkener {
			opacity: 1;
		}
		
		&:hover .the-board__name {
			color: white;
			text-shadow: 0 0 1vw color-mod(white a(90%));
			transform: scale(1.3);
		}
		
		&:hover .the-board__description {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__portrait {
		width: 100%;
		height: 100%;
		
		position: absolute;
		
		background: url('img/portrait1.jpg') center / cover;
		
		filter: saturate(0);
		
		transition: $time2 ease-out all;
		
		@media (max-width: $breakpointMobile) {
			background-position: center 20%;
			transform: scale3d(1.5, 1.5, 1);
		}
		
		&--1 {
			background-image: url('img/portrait1.jpg');
		}
		
		&--2 {
			background-image: url('img/portrait2.jpg');
		}
		
		&--3 {
			background-image: url('img/portrait3.jpg');
		}
	}
	
	&__text {
		width: 100%;
		padding: 8% 10%;
		
		position: absolute;
		top: 45%;
		
		pointer-events: none;
		
		font-size: 1.2vw;
		font-weight: 300;
		text-shadow: 0.1vw 0.1vw 0.2vw color-mod(black a(50%));
		text-align: center;
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			margin: 0 5%;
			padding: 8% 5%;
			top: 35%;
			opacity: 1;
			font-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
	}
	
	&__description {
		opacity: 0;
		transform: translate3d(0, 1vw, 0);

		transition: $time1 ease-out all;
	}
	
	&__name {
		width: 100%;
		margin: 0;
		
		pointer-events: none;
		
		color: $color4;
		text-shadow: 0 0 1vw color-mod($color4 a(90%));
		font-size: 6vw;
		text-align: center;
		text-transform: uppercase;
		font-family: bebas-neue, sans-serif;
		font-weight: 500;
		line-height: 90%;
		
		transition: $time1 ease-out all;
		transform-origin: center bottom;
		
		@media (max-width: $breakpointMobile) {
			bottom: 46%;
			color: $color4;
			font-size: 20vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 4.4em;
		}
	}
	
	&__position {
		width: 50%;
		margin: 0 auto 0.65vw;
		padding-bottom: 0.5vw;
		
		border-bottom: $color4 dashed 0.15vw;
		
		font-size: 1em;
		text-transform: uppercase;
		
		@media (max-width: $breakpointMobile) {
			width: 70%;
			margin: 0 auto 2vw;
			padding-bottom: 2vw;
			border-bottom: $color4 dashed 0.6vw;
			font-size: 5vw;
		}
	}
	
	&__darkener {
		width: 100%;
		height: 50%;
		min-height: 500px;
		
		position: absolute;
		bottom: 0;
		
		background: linear-gradient(0deg, color-mod(black a(90%)), transparent);
		pointer-events: none;
		
		transition: $time1 ease-out all;
		
		opacity: 0;
	} */
	
	&__table-container {
		height: 11.2vw;
		margin: 3% 16% 2%;
		overflow-x: scroll;
		
		@media (max-width: $breakpointMobile) {
			height: 50vw;
			margin: 0;
			padding: 0 5%;
		}
		
		@media (min-width: $breakpointBig) {
			height: 210px;
		}
	}

	&__table {
		width: 140%;
		
		@media (max-width: $breakpointMobile) {
			width: 400%;
			margin: 10vw auto 2vw;
		}
	}
	
	&__fb-iframe {
		width: 600px;
		height: 400px;
		margin: 4% auto 3%;
		
		display: block;
		
		background: white;
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.65);
			margin: 8vw auto;
		}
	}
}
