.who-we-are {
	z-index: 9;
	
	color: white;
	
	&__europe-img {
		width: 50%;
		height: 30%;
		
		position: absolute;
		top: $marginTop;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			top: 0;
		}
	}
	
	&__fb-iframe {
		width: 800px;
		height: 450px;
		margin: 6% auto 1%;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.6);
			margin: 12vw auto 1vw;
		}
	}
	
	&__mean {
		width: 33%;
		height: 30vw;
		padding: 0 1% 0 2%;
		
		display: inline-block;
		overflow: hidden;
		
		text-align: left;
		
		transition: $time1;

		@media (max-width: $breakpointMobile) {
			width: auto;
			height: auto;
			padding: 0 0 10%;
		}

		@media (min-width: $breakpointBig) {
			height: 600px;
		}
	}
	
	&__icon {
		width: 30%;
		height: @width;
		margin: 5% auto;
		display: block;
	}

	&__title {
		margin-bottom: 3%;
		position: relative;

		color: $color3;
		font-size: 220%;
		font-family: "Bebas Neue", sans-serif;
		line-height: 1;
		font-weight: 500;

		text-shadow: 0 0 1.5vw $color3;

		@media (max-width: $breakpointMobile) {
			margin-bottom: 1%;
			padding: 4vw 0 2vw;
			font-size: 210%;
		}
	}
}
